$font-principal: 'Roboto Mono', monospace;
$font-secundaria: 'Roboto', sans-serif;
$color-1: #BFA399;
$color-2: #CEC5BE;
$titulos-principales: 400 2.5rem 'Roboto Mono', monospace;
$titulos-articulos: 300 1.4rem 'Roboto Mono', monospace;
$articulo-titulo: 400 1.3rem 'Roboto Mono', monospace;
$parrafos-1: 1.5rem 'Roboto', sans-serif;
$parrafos-2: 1.7rem 'Roboto', sans-serif;
